html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
  color: #ffffff;
  display: flex;
  flex-direction: column;
  background-color: #3C1969;
}


.header {
  flex: 1 1 auto;
}

.header__inner {
  text-align: center;
  padding-bottom: 50px;
}

.header__logo {
  display: block;
  max-width: 100%;
  margin: 50px auto 100px;
}

.header__title {
  padding-bottom: 15px;
  font-size: 45px;
  line-height: 52px;
}

.header__list {
  padding-left: 0;
}

.header__item {
  text-align: center;
  padding: 15px 0;
  list-style: none;
}

.header__link {
  color: #ffffff;
  font-size: 25px;
  text-decoration: none;
  border-bottom: 2px solid transparent;
}

.header__link:hover {
  color: #04c8ae;
  transition: color .4s ease, border .4s ease;
  border-bottom: 2px solid #04c8ae;
}

.footer__list{
  padding: 0;
  list-style: none;
}

.footer {
  text-align: center;
  font-weight: 700;
}

.footer li {
  display: inline-block;
  padding: 0 10px;
  position: relative;
}

.footer__text {
  font-size: 18px;
  font-weight: 300;
  position: relative;
}

.footer__link {
  color: #fff;
  text-decoration: none;
  border-bottom: 2px solid transparent;
}

.footer__link:hover {
  color: #04c8ae;
  transition: color .4s ease, border .4s ease;
  border-bottom: 2px solid #04c8ae;
}

@media (max-width: 640px) {
  .header__item {
    font-size: 20px;
  }

  .header__title {
    font-size: 28px;
  }
}


@media screen and (max-width: 550px) {
  .footer li {
    display: block;
    padding: 10px;
    position: relative;
  }
  
}
