@media (max-width: 1620px) {
  .advantages {
    background-image: none;
  }
}

@media (max-width: 1210px) {
  .header-slider {
    padding-top: 39px;
    &__title {
      font-size: 38px;
    }
    &__desr {
      font-size: 25px;
    }
    &__info {
      padding: 50px 35px;
    }
    &__images {
      margin: 20px 35px 0 0;
      & img {
        width: 80%;
      }
    }
  }
  .specialised {
    background-size: 60px;
  }
}
@media (max-width: 1180px) {
  .advantages {
    &-box {
      justify-content: space-between;
      padding-right: 30px;
      &--right {
        padding-left: 20px;
      }
      &__images {
        text-align: center;
        & img {
          width: 80%;
        }
      }
    }
  }
}

@media (max-width: 1080px) {
  .specialised {
    background-image: none;
  }
  .reviews__items {
    flex-wrap: wrap;
  }
  .reviews__item {
    width: 48%;
    margin-bottom: 25px;
  }
}
@media (max-width: 924px) {
  .header__top {
    flex-wrap: wrap;
  }
  .header-btn {
    width: 100%;
    text-align: right;
  }
  .login {
    margin-right: 30px;
  }
  .advantages {
    &-box {
      &__images img {
        width: 70%;
      }
    }
  }
}

@media (max-width: 900px) {
  .header-slider {
    padding-top: 16px;
    &__images img {
      display: none;
    }
  }
}

@media (max-width: 858px) {
  .advantages {
    padding-top: 0;
  }
  .advantages-box__info {
    max-width: 100%;
    padding-top: 0;
  }
  .advantages-box {
    flex-wrap: wrap;
    padding-bottom: 20px;
  }
  .advantages-box--right .advantages-box__info {
    order: 0;
  }
  .advantages-box__images {
    width: 100%;
  }
}
@media (max-width: 775px) {
  .specialised {
    padding: 20px 0 50px;
    & .title {
      font-size: 30px;
    }
    &__title {
      margin-bottom: 40px;
      font-size: 30px;
    }
    &__item {
      margin-bottom: 44px;
    }
    &__items {
      flex-wrap: wrap;
    }
  }
}
@media (max-width: 685px) {
  .reviews__item {
    width: 100%;
    margin-bottom: 25px;
  }
  .reviews {
    padding: 38px 0;
  }
}
@media (max-width: 620px) {
  .footer__inner {
    display: block;
    text-align: center;
  }
  .footer__link {
    margin-bottom: 10px;
  }
  .reviews__item:not(:last-child) {
    margin-right: 0;
  }
}
@media (max-width: 569px) {
  .menu__list {
    display: none;
    top: 120px;
    width: 100%;
    position: absolute;
    left: 0;
    text-align: center;
    background-color: #171b67;
    & li + li {
      padding-left: 0;
    }
  }
  .menu__btn {
    width: 30px;
    height: 20px;
    position: relative;
    & span {
      width: 100%;
      height: 2px;
      background-color: #fff;
      position: absolute;
      top: 9px;
    }
    &::before,
    &::after {
      content: "";
      width: 100%;
      height: 2px;
      background-color: #fff;
      position: absolute;
    }
    &::before {
      top: 0;
    }
    &::after {
      bottom: 0;
    }
  }
  .header {
    min-height: 556px;
    &-slider {
      &__info {
        padding: 30px 25px;
      }
      &__title {
        font-size: 32px;
        line-height: 50px;
      }
      &__desr {
        line-height: 35px;
        margin-bottom: 40px;
        font-size: 19px;
      }
    }
  }
  .advantages-box__title {
    font-size: 30px;
    line-height: 40px;
  }
}

@media (max-width: 370px) {
  .advantages-box--right {
    padding-left: 10px;
  }
  .advantages-box__images img {
    width: 85%;
  }
}
@media (max-width: 320px) {
  .header {
    min-height: 556px;
    &-slider {
      &__info {
        padding: 20px 20px;
      }
    }
  }
}

@media (min-width: 569px) {
  .menu__list {
    display: flex !important;
  }
}
