@import "libs";
@import "vars";

* {
  box-sizing: border-box;
}

body {
  font-family: $basic-font;
  font-size: 15px;
  line-height: 24px;
}

a {
  text-decoration: none;
  color: inherit;
}

.header {
  background-image: url(../images/header-bg.jpg);
  min-height: 793px;
  background-repeat: no-repeat;
  background-size: cover;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

.header__top {
  display: flex;
  justify-content: space-between;
  height: 100px;
  align-items: center;
}

.menu__list {
  display: flex;
  color: #ffffff;
  z-index: 5;

  & li {
    opacity: 0.5;
    font-weight: 600;
    text-transform: uppercase;
    transition: 0.5s;
  }
  & li + li {
    padding-left: 50px;
  }

  & li:hover {
    opacity: 1;
  }
}

.login {
  color: #fff;
  margin-right: 44px;
  font-weight: 600;
  text-transform: uppercase;
}

.sign-up {
  text-transform: uppercase;
  font-weight: 600;
  color: #250f8a;
  border-radius: 20px;
  padding: 8px 43px;
  background-color: #fff;
}

.header-slider {
  padding-top: 111px;

  &__wrapper {
    display: flex;
    justify-content: space-between;
  }
  &__info {
    max-width: 506px;
    color: #ffffff;
  }
  &__title {
    font-weight: bold;
    font-size: 45px;
    line-height: 60px;
    margin-bottom: 10px;
  }

  &__desr {
    line-height: 55px;
    font-size: 24px;
    margin-bottom: 60px;
  }
  &__button {
    color: #250f8a;
    border-radius: 20px;
    text-transform: uppercase;
    background: #ffca00;
    border-radius: 25px;
    padding: 13px 39px;
    font-weight: 600;
  }
  &__images {
    margin: 10px 82px 0 0;
  }
}

.header-dots {
  top: 50%;
  transform: translateY(-50%);
  position: absolute;
  right: 0;
  list-style-type: none;

  & button {
    border: none;
    background: #fff;
    opacity: 0.5;
    font-size: 0;
    padding: 0;
    outline: none;
    height: 7px;
    width: 7px;
    border-radius: 3.5px;
    cursor: pointer;
    display: block;
    margin: 10px auto;
    transform: translateY(-20px);
  }
  & .slick-active button {
    width: 15px;
    opacity: 1;
    outline: none;
    border: none;
  }
}

.specialised {
  background-image: url(../images/special-ico.svg);
  background-repeat: no-repeat;
  background-position: left 20px;
  min-height: 630px;
  padding: 55px 0 93px;

  &__title {
    display: flex;
    justify-content: center;
    color: #202020;
    margin-bottom: 103px;
  }
  .title {
    font-weight: bold;
    font-size: 35px;
    line-height: 45px;
  }

  &__items {
    display: flex;
    justify-content: center;
    max-width: 980px;
    margin: 0 auto;
  }
}

.specialised__item {
  width: 280px;
  &-img {
    margin-bottom: 23px;
    & img {
      min-height: 159px;
    }
  }
  &-title {
    font-size: 20px;
    line-height: 24px;
    font-weight: bold;
    color: #202020;
    text-align: center;
    padding-bottom: 11px;
  }
  &-text {
    color: #272727;
    opacity: 0.7;
    text-align: center;
    max-width: 260px;
    padding: 0 10px;
  }
}

.advantages {
  background-color: #f4f9fd;
  background-image: url(../images/adv-bg.svg);
  background-repeat: no-repeat;
  background-position: center right;
  padding-top: 95px;
  &-box {
    display: flex;
    justify-content: space-between;
    padding-bottom: 76px;
    &__info {
      max-width: 458px;
      padding-top: 60px;
      background-image: url(../images/adv-ico1.svg);
      background-repeat: no-repeat;
      background-position: 21px 76px;
      &--bg {
        background-image: url(../images/adv-ico3.svg);
        background-position: 10px 98px;
      }
    }
    &__title {
      font-weight: 700;
      font-size: 35px;
      line-height: 45px;
      color: #202020;
      padding: 68px 0 15px 50px;
    }
    &__text {
      padding-left: 50px;
      color: #272727;
      & p {
        margin-bottom: 12px;
      }
    }
  }
}

.advantages-box--right .advantages-box__info {
  background-image: url(../images/adv-ico2.svg);
  background-position: 31px 120px;
  order: 1;
}

.reviews {
  background-image: url(../images/review-bg.jpg);
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
  min-height: 519px;
  &__title {
    margin: 0 auto;
    text-align: center;
    max-width: 383px;
    font-weight: 700;
    font-size: 35px;
    line-height: 45px;
    text-align: center;
    color: #ffffff;
    padding-top: 40px;
  }
  &__items {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 48px;
    max-width: 940px;
    margin: 0 auto;
  }
  &__item {
    width: 300px;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.2);
    padding: 35px 20px;
    &:not(:last-child) {
      margin-right: 20px;
    }
    &-text {
      text-align: center;
      color: #ffffff;
      position: relative;
      padding-top: 39px;
      &:before {
        content: "“";
        font-weight: bold;
        font-size: 40px;
        line-height: 55px;
        color: #ffffff;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
      }
    }
  }
}
.reviews__user {
  display: flex;
  &-desr {
    padding-left: 20px;
  }
  &-name {
    font-weight: 600;
    color: #ffffff;
  }
  &-work {
    color: #ffffff;
    opacity: 0.5;
  }
}

.footer {
  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px 17px;
    color: #272727;
  }
  &__links a + a {
    margin-left: 20px;
  }
}


@import "media";