* {
  box-sizing: border-box;
}

body {
  font-family: "Raleway", sans-serif;
  font-size: 15px;
  font-weight: 400;
  line-height: 21px;
  background-color: #ffffff;
  color: #333333;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

.page-text {
  font-family: Roboto;
  font-style: normal;
  font-weight: 400;
  color: rgba(51, 51, 51, 0.5);
}

.page-title {
  font-family: Raleway;
  font-style: normal;
  font-weight: 600;
}

.page-subtitle {
  font-family: Raleway;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 25px;
}

.page-btn {
  display: inline-block;
  background: #1ff0d7;
  border-radius: 50px;
  font-weight: 600;
  font-size: 15px;
  line-height: 26px;
  color: #ffffff;
  box-shadow: 0px 50px 50px rgba(24, 133, 107, 0.2);
}

.page-btn:hover {
  transition: all 0.9s;
  opacity: 0.8;
  transform: translateY(12px);
}

/* header start */
.header {
  background-image: url("../images/header-bg.svg");
  background-repeat: no-repeat;
  background-position: top right;
  background-size: cover;
  min-height: 125vh;
  position: relative;
}

.header__top {
  display: flex;
  justify-content: flex-end;
  padding: 30px 0;
  align-items: center;
}

.menu__list-items {
  display: flex;
}

.menu__list-btn {
  display: none;
}
.menu__list-item a {
  font-weight: 700;
  font-size: 10px;
  line-height: 18px;
  color: #ffffff;
  transition: all 0.7s;
  margin-left: 25px;
}

.menu__list-item:not(:last-child) {
  margin-right: 25px;
}

.menu__list-item a:hover {
  text-decoration: underline;
  color: #1ff0d7;
}

.menu__btn a {
  font-weight: bold;
  font-size: 10px;
  line-height: 18px;
  color: #ffffff;
}

.menu__btn {
  padding: 0 50px 0 25px;
}
.sign-up {
  border: 1px solid #ffffff;
  box-sizing: border-box;
  border-radius: 50px;
  padding: 7px 22px;
  transition: all 0.5s;
}

.sign-up:hover {
  border: 1px solid #1ff0d7;
}

.login {
  position: relative;
  margin: 0 25px;
  transition: all 0.5s;
}

.login:hover {
  color: #1ff0d7;
}

.login::before {
  content: "";
  height: 20px;
  border: 1px solid #ffffff;
  position: absolute;
  top: -6px;
  left: -25px;
}

.header__content {
  padding: 170px 0 0 50px;
}

.header__title {
  font-family: Raleway;
  font-weight: bold;
  font-size: 50px;
  line-height: 59px;
  color: #333333;
  max-width: 389px;
  margin-bottom: 25px;
  position: relative;
}

.header__title:before,
.header__title:after {
  content: "";
  position: absolute;
  background-repeat: no-repeat;
}

.header__title:before {
  background-image: url(../images/header-ico1.svg);
  height: 42px;
  width: 38px;
  top: -90px;
  transform: rotate(-11.01deg);
  left: 50px;
}

.header__title:after {
  background-image: url(../images/header-ico2.svg);
  height: 42px;
  width: 38px;
  transform: rotate(-11.01deg);
  right: -47px;
  top: -51px;
}

.header__text {
  font-size: 20px;
  line-height: 35px;
  max-width: 468px;
  margin-bottom: 30px;
}

.header__btn {
  display: inline-block;
  font-weight: 600;
  font-size: 15px;
  line-height: 26px;
  color: #ffffff;
  padding: 15px 71px 14px 73px;
}

.header__btn:hover {
  transition: all 0.9s;
  opacity: 0.8;
  transform: translateY(12px);
}
/* header end */

/* services start */
.services {
  padding-bottom: 70px;
}

.services__items {
  display: flex;
  justify-content: center;
  text-align: center;
}

.services__item:not(:last-child) {
  margin-right: 150px;
}

.services__item-title {
  font-family: Roboto;
  font-weight: bold;
  font-size: 18px;
  line-height: 31px;
  color: #333333;
  margin-bottom: 15px;
}

.services__item-text {
  max-width: 200px;
  height: 139px;
  text-align: center;
  font-size: 15px;
  line-height: 26px;
}
/* services end */

/* advantages start */
.advantages {
  background-color: #f3f3f3;
}
.advantages__box {
  display: flex;
  justify-content: space-between;
  padding: 0 174px 65px 70px;
}
.advantages__box > advantages-ico2 {
  padding: 0 143px 48px 183px;
}
.advantages__box--right {
  background-color: #ffffff;
  padding: 0 143px 48px 200px;
}
.advantages__info {
  padding-top: 122px;
}

.advantages__box--right > .advantages__info {
  order: 1;
}

.advantages__title {
  font-size: 35px;
  line-height: 48px;
  color: #333333;
  position: relative;
  margin-bottom: 32px;
}

.advantages__title:before {
  position: absolute;
  content: "";
  width: 45px;
  height: 45px;
  top: -65px;
  bottom: 0;
  left: 0;
  background-repeat: no-repeat;
}

.advantages-ico1 {
  max-width: 314px;
}

.advantages-ico2 {
  max-width: 371px;
}

.advantages-ico1:before {
  background-image: url("../images/advantages-ico1.svg");
}

.advantages-ico2:before {
  background-image: url("../images/advantages-ico2.svg");
}

.advantages__text {
  max-width: 402px;
  font-family: Roboto;
  font-style: normal;
  font-size: 15px;
  line-height: 21px;
}
.advantages__text p {
  margin-bottom: 25px;
}

.advantages__link {
  font-family: Roboto;
  font-weight: 500;
  font-size: 15px;
  line-height: 21px;
  color: #4bee6f;
  position: relative;
}

.advantages__link:after {
  content: "";
  width: 15px;
  top: 6px;
  right: -20px;
  bottom: 0;
  position: absolute;
  background-image: url("../images/arrow.svg");
  background-repeat: no-repeat;
}

.advantages__images {
  padding-top: 105px;
}
.advantages__box--right > .advantages__images {
  padding-top: 75px;
}
/* advantages end */

/* clients start */
.clients {
  padding-top: 86px;
  text-align: center;
  background-color: #f3f3f3;
}

.clients__title {
  font-weight: 600;
  font-size: 25px;
  line-height: 34px;
  color: #333333;
  margin-bottom: 45px;
}

.clients__images {
  padding-bottom: 66px;
}
.clients__brends {
  padding-bottom: 70px;
}

.clients__image {
  background: #ffffff;
  box-shadow: 0px 10px 20px rgba(153, 151, 151, 0.5);
  padding: 20px 31px 19px 31px;
}

.clients__image:not(:last-child) {
  margin-right: 38px;
}

.brends-ico2 {
  padding: 36px 31px 40px 31px;
}

.brends-ico3 {
  padding: 5px 8px 8px 7px;
}
.brends-ico4 {
  padding: 38px 29px 37px 28px;
}
.brends-ico5 {
  padding: 40px 55px 40px 54px;
}
/* clietns end */

/* payments start */
.payments {
  background-color: #ffffff;
  text-align: center;
  padding: 85px 0 56px;
}

.payments__title {
  font-size: 35px;
  line-height: 48px;
  margin-bottom: 38px;
}

.payments__subtitle {
  margin-bottom: 85px;
}

.payments__text {
  font-weight: 600;
  font-size: 18px;
  line-height: 31px;
  margin-bottom: 56px;
}
.payments__btn {
  padding: 21px 110px 20px 110px;
}
/* payments end */

/* booking start */
.booking {
  background-image: url("../images/booking-bg.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;
  min-height: 65vh;
  text-align: center;
}
.booking__content {
  padding: 23% 0 8%;
}
.booking__title {
  font-size: 35px;
  line-height: 48px;
  margin-bottom: 38px;
  color: #ffffff;
}

.booking__subtitle {
  margin-bottom: 52px;
  color: #ffffff;
}

.booking__btn {
  padding: 21px 96px 20px 97px;
}
/* booking end */

/* footer start */
.footer__top {
  padding: 91px 150px 96px 95px;
}

.footer-list {
  display: flex;
  justify-content: space-between;
}
.footer-list__item {
  flex-direction: column;
}
.footer-list__title {
  font-weight: 600;
  font-size: 18px;
  line-height: 25px;
  color: #000000;
  margin-bottom: 105px;
  position: relative;
}

.footer-list__title:before {
  content: "";
  position: absolute;
  width: 50px;
  left: 0;
  top: 50px;
  border: 1px solid #00a692;
}

.footer-list__link {
  display: block;
  font-weight: 500;
  font-size: 18px;
  line-height: 25px;
  color: #000000;
  position: relative;
  margin-bottom: 30px;
}

.footer-ico {
  margin-left: 60px;
}

.footer-list__link:hover {
  text-decoration: underline;
}
.footer-list__link:before {
  content: "";
  width: 40px;
  height: 40px;
  left: -60px;
  top: -6px;
  position: absolute;
  background-repeat: no-repeat;
}

.footer-ico1:before {
  background-image: url("../images/footer-ico1.svg");
}
.footer-ico2:before {
  background-image: url("../images/footer-ico2.svg");
}
.footer-ico3:before {
  background-image: url("../images/footer-ico3.svg");
}
.footer-ico4:before {
  background-image: url("../images/footer-ico4.svg");
}

.footer-list__content {
  margin-bottom: 20px;
}
.footer-list__subtitle {
  font-weight: 500;
  font-size: 18px;
  line-height: 25px;
  color: #000000;
  opacity: 0.5;
  margin-bottom: 5px;
}
.footer-list__text {
  font-weight: 500;
  font-size: 18px;
  line-height: 25px;
  color: #000000;
  opacity: 0.5;
  max-width: 318px;
}
.footer-list__text-link {
  font-weight: 500;
  font-size: 18px;
  line-height: 29px;
  color: #00a692;
  opacity: 0.5;
  transition: opacity 0.5s;
}
.footer-list__text-link:hover {
  opacity: 1;
}

.footer__info {
  text-align: center;
  margin-bottom: 50px;
}
.footer__text {
  font-weight: 700;
  color: #333333;
  padding: 15px 15px;
  transition: padding 0.5s;
}

.footer__text:hover {
  padding: 20px 25px;
  border-radius: 50px;
  border: 1px solid #1ff0d7;
}
/* footer end */

/* media start */
@media (max-width: 1370px) {
  .header {
    background-position: top left;
  }

  .header__top {
    justify-content: space-between;
  }
  .header__text {
    font-size: 20px;
    line-height: 35px;
    max-width: 455px;
    margin-bottom: 30px;
  }

  .advantages__box {
    display: block;
    text-align: center;
    padding: 0 100px 65px 100px;
  }
  .advantages-ico1 {
    max-width: 100%;
  }

  .advantages-ico2 {
    max-width: 100%;
  }

  .advantages__text {
    margin: 0 auto;
    max-width: 50%;
    font-size: 15px;
    line-height: 21px;
  }

  .advantages__images img {
    max-width: 100%;
  }

  .clients__brends {
    margin: 0 15px;
  }
  .clients__image:not(:last-child) {
    margin-right: 0px;
  }
  .clients__brends {
    max-width: 100%;
  }
  .menu__list-btn {
    border: 0;
    position: relative;
    align-items: center;
    display: flex;
    cursor: pointer;
    background-color: transparent;
    width: 30px;
    height: 20px;
    z-index: 15;
    padding: 0;
    margin-left: 20px;
  }

  .menu__list-btn::before,
  .menu__list-btn::after {
    content: "";
    position: absolute;
    border: none;
    background-color: #1ff0d7;
    width: 100%;
    height: 2px;
  }

  .menu__list-btn::after {
    top: 20px;
  }

  .menu__list-btn::before {
    top: -2px;
  }
  .menu__list-btn span {
    height: 2px;
    width: 100%;
    background-color: #1ff0d7;
  }
  .menu__list-items {
    top: -100px;
    position: absolute;
  }
  .active {
    top: 0;
    display: block;
    text-align: center;
    background-color: #333333;
    position: absolute;
    transform: translateY(0);
    transition: all 0.5s;
    padding: 100px 0 50px;
    width: 100%;
    z-index: 10;
  }
  .login:before {
    display: none;
  }
  .menu__list-item:not(:last-child) {
    margin: 0;
  }
  .menu__list-item a {
    margin: 0;
    font-size: 16px;
    line-height: 30px;
  }
}

@media (max-width: 1240px) {
  .header__title {
    font-size: 40px;
    line-height: 55px;
    margin-bottom: 25px;
  }
  .header__text {
    font-size: 17px;
    line-height: 33px;
    max-width: 395px;
    margin-bottom: 25px;
  }
  .clients__images img {
    max-width: 100%;
  }
}

@media (max-width: 1150px) {
  .header {
    min-height: 100vh;
  }
  .services__items {
    display: block;
  }
  .services__item {
    padding: 30px;
  }
  .services__item-text {
    margin: 0 auto;
    max-width: 50%;
  }
  .services__item:not(:last-child) {
    margin-right: 0;
  }

  .services__images {
    margin: 0 auto;
  }
  .advantages__text {
    max-width: 70%;
  }
  .advantages__images {
    margin: 0 auto;
  }
  .booking__content {
    padding: 26vh 0 0;
  }

  .footer__top {
    padding: 95px 0;
  }
  .footer-list {
    display: block;
    text-align: center;
  }

  .footer-list__item:not(:last-child) {
    padding-bottom: 25px;
  }
  .footer-list__title {
    margin-bottom: 50px;
    cursor: pointer;
  }
  .footer-list__title::before {
    display: none;
  }
  .footer-list__link {
    position: absolute;
    top: -1000px;
  }
  .footer-list__link:before {
    left: 37%;
  }
  .footer-list__link--active {
    transition: top 0.2s;
    top: 0;
    position: relative;
  }
  .footer-list__text {
    margin: 0 auto;
    max-width: 100%;
  }
}
@media (max-width: 900px) {
  .footer-list__link:before {
    left: 34%;
  }
}
@media (max-width: 760px) {
  .header__btn {
    font-size: 13px;
    line-height: 23px;
    padding: 11px 50px 11px 50px;
  }
  .advantages__info {
    padding-top: 100px;
  }
  .advantages__title {
    font-size: 30px;
    line-height: 40px;
  }
  .advantages__text {
    max-width: 85%;
    font-size: 14px;
    line-height: 19px;
  }
  .clients__title {
    font-size: 21px;
    line-height: 30px;
  }
  .payments__title,
  .booking__title {
    font-size: 30px;
    line-height: 40px;
  }
  .page-subtitle {
    font-size: 15px;
    line-height: 20px;
  }
  .footer-list__link:before {
    left: 32%;
  }
  .footer-list__text {
    font-size: 14px;
    line-height: 23px;
  }
}

@media (max-width: 650px) {
  .header__content {
    padding: 95px 30px 0 30px;
  }
  .header__title {
    font-size: 35px;
  }
  .header__title:after {
    right: 60px;
    top: -51px;
  }

  .header__title:before {
    top: -80px;
  }
  .header__text {
    font-size: 15px;
    line-height: 30px;
    max-width: 395px;
    margin-bottom: 25px;
    max-width: 355px;
  }

  .services__images {
    max-width: 55%;
  }
  .advantages__box {
    padding: 0 50px 65px 50px;
  }
  .clients__brends {
    margin: 0 auto;
  }

  .clients__image {
    margin-bottom: 15px;
  }
  .payments__title,
  .booking__title {
    font-size: 26px;
    line-height: 35px;
  }
  .page-subtitle {
    font-size: 13px;
    line-height: 15px;
  }
  .payments__text {
    font-size: 16px;
    line-height: 28px;
  }
  .payments__btn,
  .booking__btn {
    padding: 10px 85px 10px 85px;
  }
  .booking {
    padding: 50px 0;
  }
  .footer-list__link:before {
    left: 28%;
  }
  .footer-list__text {
    max-width: 58%;
  }
  .menu__btn a {
    color: #333333;
    border: 1px solid #1ff0d7;
    padding: 7px 14px;
  }
  .login {
    border-radius: 50px;
  }
}

@media (max-width: 520px) {
  .header__content {
    text-align: center;
  }
  .header__title {
    max-width: 55vh;
  }
  .header__text {
    max-width: 100%;
  }
  .advantages__title {
    font-size: 26px;
    line-height: 35px;
  }
  .advantages__title::before {
    width: 30px;
    height: 30px;
    top: -40px;
  }
  .advantages-ico1:before {
    background-image: url("../images/advantages-ico1--mobile.svg");
  }

  .advantages-ico2:before {
    background-image: url("../images/advantages-ico2--mobile.svg");
  }
  .advantages__text {
    max-width: 100%;
  }

  .clients__title {
    font-size: 18px;
  }
  .clients__brends {
    padding: 20px;
  }
  .payments__title,
  .booking__title {
    font-size: 23px;
    line-height: 30px;
    padding: 0 15px;
  }
  .page-subtitle {
    font-size: 12px;
    line-height: 15px;
  }
  .payments__text {
    font-size: 14px;
    line-height: 26px;
  }
  .footer-list__link:before {
    left: 24%;
  }
  .footer__top {
    padding: 45px 0;
  }
}

@media (max-width: 460px) {
  .payments__subtitle {
    padding-bottom: 85px;
  }
  .page-subtitle {
    max-width: 80%;
    margin: 0 auto;
  }
  .booking__subtitle {
    padding-bottom: 46px;
  }
}

@media (max-width: 420px) {
  .header__content {
    text-align: center;
  }
  .header__title {
    font-size: 30px;
    line-height: 45px;
    max-width: 45vh;
  }
  .header__title:after,
  .header__title:before {
    display: none;
  }
  .services__item-text {
    max-width: 75%;
  }
  .services__images {
    max-width: 100%;
  }
  .services__images img {
    max-width: 50vw;
  }
  .advantages__box {
    padding: 0 25px 65px 25px;
  }
  .advantages__title {
    font-size: 23px;
    line-height: 30px;
  }
  .advantages__text {
    font-size: 12px;
    line-height: 18px;
  }
  .advantages__link {
    font-size: 13px;
    line-height: 20px;
  }
  .advantages__images {
    padding-top: 55px;
  }

  .clients__title {
    font-size: 13px;
  }
  .clients__image {
    margin-bottom: 15px;
  }
  .payments__btn,
  .booking__btn {
    padding: 5px 60px 5px 60px;
  }
  .footer-list__link::before {
    left: 14%;
  }
}

@media (max-width: 350px) {
  .header__btn {
    padding: 10px 25px 10px 25px;
  }
  .payments__btn,
  .booking__btn {
    padding: 5px 25px 5px 25px;
  }
}
/* medua end */
